{
  "openapi": "3.1.0",
  "info": {
    "title": "Orbscan Open API",
    "description": "REST endpoints for Polymarket trader activity, deposits & withdrawals, and per-transaction action details, sourced directly from on-chain data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.orbscan.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/v1/trader/{address}/activity": {
      "get": {
        "operationId": "getTraderActivity",
        "summary": "Get trader activity",
        "description": "Returns paginated buy, sell, and redeem activity for a wallet across every Polymarket market it has touched. Results are ordered newest-first and paginated with an opaque cursor.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address to query.",
            "schema": {
              "type": "string",
              "example": "0x6a72f61820b26b1fe4d956e17b6dc2a1ea3033ee"
            }
          },
          {
            "name": "marketIds",
            "in": "query",
            "required": false,
            "description": "Filter to one or more market IDs. Repeat the parameter to pass multiple IDs (e.g. `marketIds=2707644&marketIds=2682268`).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "example": ["2707644"]
            }
          },
          {
            "name": "txHash",
            "in": "query",
            "required": false,
            "description": "Filter to a single transaction hash. The value is automatically lower-cased before matching.",
            "schema": {
              "type": "string",
              "example": "0x71bf46c3089e2349a62ec6b93638522e8cc635a9836f1308ac7621ce1ecbb609"
            }
          },
          {
            "name": "fromBlock",
            "in": "query",
            "required": false,
            "description": "Only include activity at or after this block height.",
            "schema": { "type": "integer" }
          },
          {
            "name": "toBlock",
            "in": "query",
            "required": false,
            "description": "Only include activity at or before this block height.",
            "schema": { "type": "integer" }
          },
          {
            "name": "fromTimestamp",
            "in": "query",
            "required": false,
            "description": "Only include activity at or after this Unix timestamp, in seconds.",
            "schema": { "type": "integer", "format": "int64", "example": 1782700000 }
          },
          {
            "name": "toTimestamp",
            "in": "query",
            "required": false,
            "description": "Only include activity at or before this Unix timestamp, in seconds.",
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor. Pass the `nextCursor` (a base64 string) returned by the previous page to fetch the next page.",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records per page. Defaults to 50, maximum 100. Values above 100 are capped at 100.",
            "schema": { "type": "integer", "default": 50, "maximum": 100, "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/ActivityItem" }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "Opaque base64 cursor for the next page, or null when there are no more results.",
                          "nullable": true,
                          "example": "MTc4Mjc2NTk1Nnw4OTM3Mzk3NHwxNzR8MHhiZjE1..."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "blockTimestamp": 1782861128,
                        "actionType": "Redeem",
                        "price": "1",
                        "size": "5",
                        "fee": "0",
                        "usdcSize": "5",
                        "netSharesTransferred": "-5",
                        "txHash": "0x71bf46c3089e2349a62ec6b93638522e8cc635a9836f1308ac7621ce1ecbb609",
                        "tokenId": "91355094557016369228768123360298492968992168419338047915199416797057852525950",
                        "marketId": "2707644",
                        "marketSlug": "fifwc-fra-swe-2026-06-30-fra",
                        "eventSlug": "fifwc-fra-swe-2026-06-30",
                        "conditionId": "0x378f7b5c668014d9f6c42c305ec83902f3c8f6c770b336363aed0076ce6ce1c9",
                        "marketTitle": "Will France win on 2026-06-30?",
                        "positionSide": "Yes",
                        "outcomeIndex": 0,
                        "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/soccer-ball.png",
                        "traderAddress": "0x6a72f61820b26b1fe4d956e17b6dc2a1ea3033ee",
                        "liquidityRole": null
                      },
                      {
                        "blockTimestamp": 1782765956,
                        "actionType": "Buy",
                        "price": "0.78",
                        "size": "5",
                        "fee": "0.02574",
                        "usdcSize": "3.9",
                        "netSharesTransferred": "5",
                        "txHash": "0xbf15dbfb9d3b8b1f5210a582ca78deb73bf77372cb43d8e15edb323750461b1c",
                        "tokenId": "91355094557016369228768123360298492968992168419338047915199416797057852525950",
                        "marketId": "2707644",
                        "marketSlug": "fifwc-fra-swe-2026-06-30-fra",
                        "eventSlug": "fifwc-fra-swe-2026-06-30",
                        "conditionId": "0x378f7b5c668014d9f6c42c305ec83902f3c8f6c770b336363aed0076ce6ce1c9",
                        "marketTitle": "Will France win on 2026-06-30?",
                        "positionSide": "Yes",
                        "outcomeIndex": 0,
                        "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/soccer-ball.png",
                        "traderAddress": "0x6a72f61820b26b1fe4d956e17b6dc2a1ea3033ee",
                        "liquidityRole": "TAKER"
                      }
                    ],
                    "nextCursor": "MTc4Mjc2NTk1Nnw4OTM3Mzk3NHwxNzR8MHhiZjE1..."
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/trader/{address}/deposits-withdrawals": {
      "get": {
        "operationId": "getDepositsWithdrawals",
        "summary": "Get deposits & withdrawals",
        "description": "Returns the combined USDC deposit and withdrawal history for a wallet, ordered newest-first and paginated with a cursor. Each record's `type` is either `deposit` or `withdrawal`.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address to query.",
            "schema": {
              "type": "string",
              "example": "0x6a72f61820b26b1fe4d956e17b6dc2a1ea3033ee"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor. Pass the `nextCursor` returned by the previous page to fetch the next page.",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records per page. Defaults to 50, maximum 100.",
            "schema": { "type": "integer", "default": 50, "maximum": 100, "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/TransferItem" }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "Cursor for the next page, or null when there are no more results.",
                          "nullable": true,
                          "example": "1780204248_1085068690"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "txHash": "0x1012c22a72565e4568d2eb1b418cf9f8d277b0c60fb4d5300dd30eab74d0770a",
                        "type": "withdrawal",
                        "amount": "181038.379452",
                        "blockTimestamp": 1783532240,
                        "address": "0xc417fd8e9661c0d2120b64a04bb3278c17e99db1"
                      },
                      {
                        "txHash": "0x7d30d40296753bb7295dff6ffe0262210b766aec19e9e855d99bcaf94fcb6478",
                        "type": "deposit",
                        "amount": "100454.40367",
                        "blockTimestamp": 1782526996,
                        "address": "0x0000000000000000000000000000000000000000"
                      }
                    ],
                    "nextCursor": "1780204248_1085068690"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/tx/{txHash}": {
      "get": {
        "operationId": "getTransactionActions",
        "summary": "Get actions by transaction hash",
        "description": "Returns a decoded, human-readable summary of a single transaction plus every individual on-chain action (fills) it contains. Useful for inspecting exactly what happened inside one trade.",
        "parameters": [
          {
            "name": "txHash",
            "in": "path",
            "required": true,
            "description": "The transaction hash to decode.",
            "schema": {
              "type": "string",
              "example": "0x66dc87fb47faf587002b89d183dbb9505fc7ef80da5e6ec49e271278e8d95fad"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": { "$ref": "#/components/schemas/TransactionDetail" }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "txHash": "0x66dc87fb47faf587002b89d183dbb9505fc7ef80da5e6ec49e271278e8d95fad",
                    "blockNumber": 88229726,
                    "blockTimestamp": 1781049574,
                    "traderAddress": "0xaac2469db4c243a2931acc252967b171bd97e8ce",
                    "sourceType": "TRADE",
                    "actionType": "Buy",
                    "sentence": "Buy 3604.58 No for $3546.12269 in Will Bitcoin dip to $59,000 on June 9?",
                    "marketSlug": "will-bitcoin-dip-to-59k-on-june-9",
                    "marketId": "2475928",
                    "actions": [
                      {
                        "actionType": "Buy",
                        "tokenId": "38163660360188728397792916713023875464787138529265352624189549073473314732690",
                        "size": "3604.58",
                        "price": "0.983782",
                        "usdcSize": "3546.12269",
                        "traderAddress": "0xaac2469db4c243a2931acc252967b171bd97e8ce",
                        "txHash": "0x66dc87fb47faf587002b89d183dbb9505fc7ef80da5e6ec49e271278e8d95fad",
                        "blockTimestamp": 1781049574,
                        "fee": "4.02564",
                        "marketId": "2475928",
                        "marketSlug": "will-bitcoin-dip-to-59k-on-june-9",
                        "eventSlug": "what-price-will-bitcoin-hit-on-june-9",
                        "marketTitle": "Will Bitcoin dip to $59,000 on June 9?",
                        "positionSide": "No",
                        "outcomeIndex": 1,
                        "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC-fullsize.png",
                        "liquidityRole": "TAKER"
                      }
                    ],
                    "comboActions": null
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Pass your Orbscan API key in the `apikey` request header."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "The API key is missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string", "example": "Missing or invalid API key" },
                "status_code": { "type": "string", "example": "401" },
                "data": { "type": "null" }
              }
            },
            "example": {
              "message": "Missing or invalid API key",
              "status_code": "401",
              "data": null
            }
          }
        }
      }
    },
    "schemas": {
      "ActivityItem": {
        "type": "object",
        "properties": {
          "blockTimestamp": { "type": "integer", "format": "int64", "description": "Unix timestamp (seconds) of the action." },
          "actionType": { "type": "string", "description": "Action label.", "example": "Buy", "enum": ["Buy", "Sell", "Redeem"] },
          "price": { "type": "string", "description": "Price per share as a decimal (0–1). Multiply by 100 to get cents.", "example": "0.78" },
          "size": { "type": "string", "description": "Number of shares.", "example": "5" },
          "fee": { "type": "string", "description": "Fee charged, in USDC.", "example": "0.02574" },
          "usdcSize": { "type": "string", "description": "Gross USDC value of the action.", "example": "3.9" },
          "netSharesTransferred": { "type": "string", "description": "Net shares transferred (positive = received, negative = sent).", "example": "5" },
          "txHash": { "type": "string", "description": "On-chain transaction hash." },
          "tokenId": { "type": "string", "description": "Polymarket outcome token ID." },
          "marketId": { "type": "string" },
          "marketSlug": { "type": "string" },
          "eventSlug": { "type": "string" },
          "conditionId": { "type": "string" },
          "marketTitle": { "type": "string" },
          "positionSide": { "type": "string", "description": "Which outcome the trade is on.", "example": "Yes" },
          "outcomeIndex": { "type": "integer", "example": 0 },
          "logo": { "type": "string", "description": "Market logo URL." },
          "traderAddress": { "type": "string", "description": "The queried wallet address." },
          "liquidityRole": { "type": "string", "nullable": true, "description": "MAKER or TAKER, or null for non-trade actions such as redeems.", "example": "TAKER", "enum": ["MAKER", "TAKER", null] }
        }
      },
      "TransferItem": {
        "type": "object",
        "properties": {
          "txHash": { "type": "string", "description": "On-chain transaction hash." },
          "type": { "type": "string", "description": "Transfer direction.", "example": "deposit", "enum": ["deposit", "withdrawal"] },
          "amount": { "type": "string", "description": "USDC amount transferred.", "example": "181038.379452" },
          "blockTimestamp": { "type": "integer", "format": "int64", "description": "Unix timestamp (seconds)." },
          "address": { "type": "string", "description": "Counterparty address. For deposits this may be the zero address when funds are bridged in." }
        }
      },
      "TransactionAction": {
        "type": "object",
        "properties": {
          "actionType": { "type": "string", "example": "Buy" },
          "tokenId": { "type": "string", "description": "Polymarket outcome token ID involved in this fill." },
          "size": { "type": "string", "description": "Number of shares in this fill." },
          "price": { "type": "string", "description": "Price per share as a decimal (0–1).", "example": "0.983782" },
          "usdcSize": { "type": "string", "description": "USDC value of this fill." },
          "traderAddress": { "type": "string", "description": "Address that performed this fill." },
          "txHash": { "type": "string" },
          "blockTimestamp": { "type": "integer", "format": "int64" },
          "fee": { "type": "string" },
          "marketId": { "type": "string" },
          "marketSlug": { "type": "string" },
          "eventSlug": { "type": "string" },
          "marketTitle": { "type": "string" },
          "positionSide": { "type": "string", "example": "No" },
          "outcomeIndex": { "type": "integer", "example": 1 },
          "logo": { "type": "string", "description": "Market logo URL." },
          "liquidityRole": { "type": "string", "nullable": true, "example": "TAKER", "enum": ["MAKER", "TAKER", null] }
        }
      },
      "TransactionDetail": {
        "type": "object",
        "properties": {
          "txHash": { "type": "string" },
          "blockNumber": { "type": "integer", "format": "int64" },
          "blockTimestamp": { "type": "integer", "format": "int64" },
          "traderAddress": { "type": "string", "description": "The primary wallet this transaction is attributed to." },
          "sourceType": { "type": "string", "example": "TRADE" },
          "actionType": { "type": "string", "description": "Top-level action for the transaction.", "example": "Buy" },
          "sentence": { "type": "string", "description": "Plain-English summary of the transaction.", "example": "Buy 3604.58 No for $3546.12269 in Will Bitcoin dip to $59,000 on June 9?" },
          "marketSlug": { "type": "string" },
          "marketId": { "type": "string" },
          "actions": {
            "type": "array",
            "description": "Every individual on-chain fill contained in this transaction.",
            "items": { "$ref": "#/components/schemas/TransactionAction" }
          },
          "comboActions": {
            "type": "array",
            "nullable": true,
            "description": "Combined actions for multi-leg trades, or null when not applicable.",
            "items": { "type": "object" }
          }
        }
      }
    }
  }
}
