{
  "openapi": "3.1.0",
  "info": {
    "title": "Orbscan Open API",
    "description": "REST endpoints for Polymarket wallet activity, positions, transfers, transaction details, and L2 order book data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.orbscan.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/trader/{address}/activity": {
      "get": {
        "operationId": "getTraderActivity",
        "summary": "Get trader activity",
        "description": "Returns paginated buy, sell, and redeem activity for a wallet across every Polymarket market it has touched. Results are ordered newest-first and paginated with an opaque cursor.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address to query.",
            "schema": {
              "type": "string",
              "example": "0x6a72f61820b26b1fe4d956e17b6dc2a1ea3033ee"
            }
          },
          {
            "name": "marketIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated market IDs to filter to (e.g. `?marketIds=1,2`).",
            "schema": { "type": "string", "example": "2707644,2682268" }
          },
          {
            "name": "txHash",
            "in": "query",
            "required": false,
            "description": "Filter to a single transaction hash. The value is automatically lower-cased before matching.",
            "schema": {
              "type": "string",
              "example": "0x71bf46c3089e2349a62ec6b93638522e8cc635a9836f1308ac7621ce1ecbb609"
            }
          },
          {
            "name": "fromBlock",
            "in": "query",
            "required": false,
            "description": "Only include activity at or after this block height.",
            "schema": { "type": "integer" }
          },
          {
            "name": "toBlock",
            "in": "query",
            "required": false,
            "description": "Only include activity at or before this block height.",
            "schema": { "type": "integer" }
          },
          {
            "name": "fromTimestamp",
            "in": "query",
            "required": false,
            "description": "Only include activity at or after this Unix timestamp, in seconds.",
            "schema": { "type": "integer", "format": "int64", "example": 1782700000 }
          },
          {
            "name": "toTimestamp",
            "in": "query",
            "required": false,
            "description": "Only include activity at or before this Unix timestamp, in seconds.",
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor. Pass the `nextCursor` (a base64 string) returned by the previous page to fetch the next page.",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records per page. Defaults to 20, maximum 100. Values above 100 are capped at 100.",
            "schema": { "type": "integer", "default": 20, "maximum": 100, "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/ActivityItem" }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "Opaque base64 cursor for the next page, or null when there are no more results.",
                          "nullable": true,
                          "example": "MTc4Mjc2NTk1Nnw4OTM3Mzk3NHwxNzR8MHhiZjE1..."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "blockTimestamp": 1782861128,
                        "actionType": "Redeem",
                        "price": "1",
                        "size": "5",
                        "fee": "0",
                        "usdcSize": "5",
                        "netSharesTransferred": "-5",
                        "txHash": "0x71bf46c3089e2349a62ec6b93638522e8cc635a9836f1308ac7621ce1ecbb609",
                        "tokenId": "91355094557016369228768123360298492968992168419338047915199416797057852525950",
                        "marketId": "2707644",
                        "marketSlug": "fifwc-fra-swe-2026-06-30-fra",
                        "eventSlug": "fifwc-fra-swe-2026-06-30",
                        "conditionId": "0x378f7b5c668014d9f6c42c305ec83902f3c8f6c770b336363aed0076ce6ce1c9",
                        "marketTitle": "Will France win on 2026-06-30?",
                        "positionSide": "Yes",
                        "outcomeIndex": 0,
                        "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/soccer-ball.png",
                        "traderAddress": "0x6a72f61820b26b1fe4d956e17b6dc2a1ea3033ee",
                        "liquidityRole": null
                      },
                      {
                        "blockTimestamp": 1782765956,
                        "actionType": "Buy",
                        "price": "0.78",
                        "size": "5",
                        "fee": "0.02574",
                        "usdcSize": "3.9",
                        "netSharesTransferred": "5",
                        "txHash": "0xbf15dbfb9d3b8b1f5210a582ca78deb73bf77372cb43d8e15edb323750461b1c",
                        "tokenId": "91355094557016369228768123360298492968992168419338047915199416797057852525950",
                        "marketId": "2707644",
                        "marketSlug": "fifwc-fra-swe-2026-06-30-fra",
                        "eventSlug": "fifwc-fra-swe-2026-06-30",
                        "conditionId": "0x378f7b5c668014d9f6c42c305ec83902f3c8f6c770b336363aed0076ce6ce1c9",
                        "marketTitle": "Will France win on 2026-06-30?",
                        "positionSide": "Yes",
                        "outcomeIndex": 0,
                        "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/soccer-ball.png",
                        "traderAddress": "0x6a72f61820b26b1fe4d956e17b6dc2a1ea3033ee",
                        "liquidityRole": "TAKER"
                      }
                    ],
                    "nextCursor": "MTc4Mjc2NTk1Nnw4OTM3Mzk3NHwxNzR8MHhiZjE1..."
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/trader/{address}/deposits-withdrawals": {
      "get": {
        "operationId": "getDepositsWithdrawals",
        "summary": "Get deposits & withdrawals",
        "description": "Returns the trader's deposits and withdrawals, aggregated per transaction and ordered by time descending. Transfers from known reward / system addresses are excluded. Each record's `type` is either `deposit` (net inflow) or `withdrawal` (net outflow).",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Trader address, `0x` + 40 hex chars.",
            "schema": {
              "type": "string",
              "example": "0x6a72f61820b26b1fe4d956e17b6dc2a1ea3033ee"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by transfer direction. Case-insensitive.",
            "schema": { "type": "string", "enum": ["deposit", "withdrawal"] }
          },
          {
            "name": "fromTimestamp",
            "in": "query",
            "required": false,
            "description": "Inclusive lower timestamp (Unix seconds).",
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "toTimestamp",
            "in": "query",
            "required": false,
            "description": "Inclusive upper timestamp (Unix seconds).",
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "minDeposit",
            "in": "query",
            "required": false,
            "description": "Minimum deposit amount to include. Withdrawals are always included regardless of this filter.",
            "schema": { "type": "number" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 20, maximum 100.",
            "schema": { "type": "integer", "default": 20, "maximum": 100, "minimum": 1 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from the previous response's `nextCursor`. Omit for the first page.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/TransferItem" }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "Cursor for the next page, or null when there are no more results.",
                          "nullable": true,
                          "example": "1780204248_1085068690"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "txHash": "0x1012c22a72565e4568d2eb1b418cf9f8d277b0c60fb4d5300dd30eab74d0770a",
                        "type": "withdrawal",
                        "amount": "181038.379452",
                        "blockTimestamp": 1783532240,
                        "address": "0xc417fd8e9661c0d2120b64a04bb3278c17e99db1"
                      },
                      {
                        "txHash": "0x7d30d40296753bb7295dff6ffe0262210b766aec19e9e855d99bcaf94fcb6478",
                        "type": "deposit",
                        "amount": "100454.40367",
                        "blockTimestamp": 1782526996,
                        "address": "0x0000000000000000000000000000000000000000"
                      }
                    ],
                    "nextCursor": "1780204248_1085068690"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/trader/{address}/positions/open": {
      "get": {
        "operationId": "getOpenPositions",
        "summary": "Get open positions",
        "description": "Returns the wallet's currently open positions — every outcome token held with a non-zero balance, along with pricing, PnL, and market metadata. Results are cursor-paginated.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address to query.",
            "schema": { "type": "string", "example": "0x0484e64092ba4108c2786b61e6fc052d3bf41b1a" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 20, maximum 100.",
            "schema": { "type": "integer", "default": 20, "maximum": 100, "minimum": 1 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from the previous response's `nextCursor`. Omit for the first page.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": { "type": "array", "items": { "$ref": "#/components/schemas/OpenPosition" } },
                        "nextCursor": { "type": "string", "nullable": true }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "marketId": "3656310",
                        "marketSlug": "btc-updown-5m-1787031000",
                        "eventSlug": "btc-updown-5m-1787031000",
                        "conditionId": "0xa31ec3151a6791a9e74d5f5f84b1f0c00fa077212f9b63fc5582fba6bfc87cce",
                        "marketTitle": "Bitcoin Up or Down - August 18, 1:30AM-1:35AM ET",
                        "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                        "closed": false,
                        "tokenId": "100556202915779895602586020414430867023426296240912333256993650161520744311843",
                        "positionSide": "Up",
                        "outcomeIndex": 0,
                        "balance": "45",
                        "avgPrice": "0.175555",
                        "currentPrice": "0.01",
                        "avgExit": "0",
                        "totalInvested": "7.899975",
                        "totalBought": "45",
                        "value": "0.45",
                        "unrealizedPnl": "-7.449975",
                        "realizedPnl": "0",
                        "totalPnl": "-7.449975",
                        "percentPnl": "-94.303779",
                        "recentTradeTime": 1787031184
                      }
                    ],
                    "nextCursor": null
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/trader/{address}/positions/closed": {
      "get": {
        "operationId": "getClosedPositions",
        "summary": "Get closed positions",
        "description": "Returns the trader's closed positions — outcome tokens the wallet previously held in markets that have since resolved or positions it has since sold. Ordered by market / most recent trade descending. Positions here have `balance: \"0\"` and `closed: true`.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Trader address, `0x` + 40 hex chars.",
            "schema": { "type": "string", "example": "0x0484e64092ba4108c2786b61e6fc052d3bf41b1a" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 20, maximum 100.",
            "schema": { "type": "integer", "default": 20, "maximum": 100, "minimum": 1 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from the previous response's `nextCursor`. Omit for the first page.",
            "schema": { "type": "string" }
          },
          {
            "name": "marketIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated market IDs to filter to (e.g. `?marketIds=1,2`).",
            "schema": { "type": "string", "example": "3658111,3657996" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": { "type": "array", "items": { "$ref": "#/components/schemas/OpenPosition" } },
                        "nextCursor": { "type": "string", "nullable": true }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "marketId": "3658111",
                        "marketSlug": "btc-updown-5m-1787036100",
                        "eventSlug": "btc-updown-5m-1787036100",
                        "conditionId": "0xb8dd5113e94626f2d31209d00fb46596ed7dc397b472ba995a32048b4863024f",
                        "marketTitle": "Bitcoin Up or Down - August 18, 2:55AM-3:00AM ET",
                        "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                        "closed": true,
                        "tokenId": "89557885051081542286903003624357156109233126349016624043674353363446112914315",
                        "positionSide": "Up",
                        "outcomeIndex": 0,
                        "balance": "0",
                        "avgPrice": "0.213749",
                        "currentPrice": "1",
                        "avgExit": "1",
                        "totalInvested": "8.54996",
                        "totalBought": "40",
                        "value": "0",
                        "unrealizedPnl": "0",
                        "realizedPnl": "31.45004",
                        "totalPnl": "31.45004",
                        "percentPnl": null,
                        "recentTradeTime": 1787036472
                      }
                    ],
                    "nextCursor": "3657217|1787033766|417536012314..."
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/trader/{address}/combo-positions/open": {
      "get": {
        "operationId": "getComboOpenPositions",
        "summary": "Get combo open positions",
        "description": "Returns the wallet's currently open combo (parlay) positions. Each combo position contains multiple legs, each representing a single market outcome. The overall position is valued based on all legs resolving correctly. Results are cursor-paginated.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address to query.",
            "schema": { "type": "string", "example": "0xb88a7733e9abb384f64579970ae17cecb8588cce" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 20, maximum 100.",
            "schema": { "type": "integer", "default": 20, "maximum": 100, "minimum": 1 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from the previous response's `nextCursor`. Omit for the first page.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": { "type": "array", "items": { "$ref": "#/components/schemas/ComboPosition" } },
                        "nextCursor": { "type": "string", "nullable": true }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "comboPositionId": "1466088136155411495486445580031077146305112146146209458958329510363605762049",
                        "comboConditionId": "0x033dc6c7521e51246df19efefd4fb699400000000000000000000000000000",
                        "amount": "293.546934",
                        "avgPrice": "0.695077",
                        "realizedPnl": "0",
                        "totalBought": "293.546934",
                        "balance": "293.546934",
                        "balanceTimestamp": 1787028547,
                        "totalFee": "0",
                        "recentTradeTime": 1787028547,
                        "firstTradeTime": 1787028547,
                        "currentPrice": "0.999",
                        "unrealizedPnl": "89.215665",
                        "totalPnl": "89.215665",
                        "percentPnl": "43.73",
                        "legs": [
                          {
                            "comboPositionId": "1466088136155411495486445580031077146305112146146209458958329510363605762049",
                            "legIndex": 0,
                            "legPositionId": "747857295054834995410619171544306138708812161766864978579067866496660144128",
                            "marketId": "3625100",
                            "marketTitle": "Cincinnati Open: Tommy Paul vs Adolfo Vallejo",
                            "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/atp-tour-b4390c4fb8.jpg",
                            "marketSlug": "atp-paul-vallejo-2026-08-17",
                            "eventSlug": "atp-paul-vallejo-2026-08-17",
                            "outcomeIndex": 0,
                            "outcome": "Tommy Paul",
                            "outcomePrice": "1",
                            "resolved": true
                          },
                          {
                            "comboPositionId": "1466088136155411495486445580031077146305112146146209458958329510363605762049",
                            "legIndex": 1,
                            "legPositionId": "1111494095816933649408731174103301281720450587590830607175323072809909879041",
                            "marketId": "3342139",
                            "marketTitle": "Will CF Pachuca vs. Club Puebla end in a draw?",
                            "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/mex.png",
                            "marketSlug": "mex-pac-pue-2026-08-17-draw",
                            "eventSlug": "mex-pac-pue-2026-08-17",
                            "outcomeIndex": 1,
                            "outcome": "No",
                            "outcomePrice": "0.999",
                            "resolved": false
                          }
                        ]
                      }
                    ],
                    "nextCursor": null
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/trader/{address}/combo-positions/closed": {
      "get": {
        "operationId": "getComboClosedPositions",
        "summary": "Get combo closed positions",
        "description": "Returns the trader's resolved / closed combo (parlay) positions, ordered by most recent trade descending.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Trader address, `0x` + 40 hex chars.",
            "schema": { "type": "string", "example": "0xb88a7733e9abb384f64579970ae17cecb8588cce" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 20, maximum 100.",
            "schema": { "type": "integer", "default": 20, "maximum": 100, "minimum": 1 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from the previous response's `nextCursor`. Omit for the first page.",
            "schema": { "type": "string" }
          },
          {
            "name": "marketIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated market IDs to filter to (e.g. `?marketIds=1,2`).",
            "schema": { "type": "string", "example": "3619229,3671211" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": { "type": "array", "items": { "$ref": "#/components/schemas/ComboPosition" } },
                        "nextCursor": { "type": "string", "nullable": true }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "comboPositionId": "1806159698331040881191422092150869298275778236938264756488486412349341696001",
                        "comboConditionId": "0x03fe400a9f29d9d3469b8a762cfbca69440000000000000000000000000000",
                        "amount": "0",
                        "avgPrice": "0.978552",
                        "realizedPnl": "2.860071",
                        "totalBought": "133.349119",
                        "balance": "0",
                        "balanceTimestamp": 1787031040,
                        "totalFee": "0",
                        "recentTradeTime": 1787031040,
                        "firstTradeTime": 1787023944,
                        "currentPrice": "0",
                        "unrealizedPnl": "0",
                        "totalPnl": "2.860071",
                        "percentPnl": "2.19",
                        "legs": [
                          {
                            "comboPositionId": "1806159698331040881191422092150869298275778236938264756488486412349341696001",
                            "legIndex": 0,
                            "legPositionId": "458130169191096182666148879069006345232346455474071968405503421352008220672",
                            "marketId": "3619229",
                            "marketTitle": "Prague 2: Max Hans Rehberg vs Jakub Nicod",
                            "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/atp-tour-b4390c4fb8.jpg",
                            "marketSlug": "atp-rehberg-nicod-2026-08-17",
                            "eventSlug": "atp-rehberg-nicod-2026-08-17",
                            "outcomeIndex": 0,
                            "outcome": "Max Hans Rehberg",
                            "outcomePrice": "0.69",
                            "resolved": false
                          }
                        ]
                      }
                    ],
                    "nextCursor": null
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/trader/{address}/portfolio": {
      "get": {
        "operationId": "getPortfolio",
        "summary": "Get portfolio summary",
        "description": "Returns a high-level portfolio summary for a wallet — the total mark-to-market value of all open positions, the USDC balance, and the combined portfolio value.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address to query.",
            "schema": { "type": "string", "example": "0x4fdbdcf0ee06bc9ce6c8c972c4af8884202069fa" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": { "$ref": "#/components/schemas/Portfolio" }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "positionValue": "361.917627",
                    "usdBalance": "700.306867",
                    "portfolioValue": "1062.224494"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/trader/wallet-address/{address}": {
      "get": {
        "operationId": "getWalletAddress",
        "summary": "Get wallet address mapping",
        "description": "Resolves the wallet address for a given signer / trader address. Returns the resolved wallet address (lowercase) or `null` when no wallet is found.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Signer / trader address, `0x` + 40 hex chars.",
            "schema": { "type": "string", "example": "0x1234567890abcdef1234567890abcdef12345678" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "walletAddress": { "type": "string", "nullable": true, "description": "Resolved wallet address (lowercase), or `null` when no wallet is found.", "example": "0x170ffd53bbcf2515d9f31e9285c63d3d0e1341ad" }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "walletAddress": "0x170ffd53bbcf2515d9f31e9285c63d3d0e1341ad"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/trader/{address}/rewards": {
      "get": {
        "operationId": "getTraderRewards",
        "summary": "Get trader rewards",
        "description": "Returns the trader's reward records (yield, maker/taker rebates, referral rewards, etc.), ordered by block time descending.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Trader address, `0x` + 40 hex chars.",
            "schema": { "type": "string", "example": "0x0484e64092ba4108c2786b61e6fc052d3bf41b1a" }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "Comma-separated activity types (e.g. `?types=YIELD,MAKER_REBATE`). Case-insensitive. Supported values: `YIELD`, `MAKER_REBATE`, `TAKER_REBATE`, `REFERRAL_REWARD`, `REWARD`.",
            "schema": { "type": "string", "example": "YIELD,MAKER_REBATE" }
          },
          {
            "name": "fromTimestamp",
            "in": "query",
            "required": false,
            "description": "Inclusive lower timestamp (Unix seconds).",
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "toTimestamp",
            "in": "query",
            "required": false,
            "description": "Inclusive upper timestamp (Unix seconds).",
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 20, maximum 100.",
            "schema": { "type": "integer", "default": 20, "maximum": 100, "minimum": 1 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from the previous response's `nextCursor`. Omit for the first page.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": { "type": "array", "items": { "$ref": "#/components/schemas/RewardItem" } },
                        "nextCursor": { "type": "string", "nullable": true, "description": "Cursor for the next page, or `null` when there are no more results." }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "txHash": "0x79818cc22503eb3771d4d9d78a374c9cd53e3d15d864f585390fbc74551177c5",
                        "logIndex": 1267,
                        "proxyWallet": "0x0484e64092ba4108c2786b61e6fc052d3bf41b1a",
                        "fromAddress": "0x520bf77d9d34c34a6a9723f50e1dcb887ed238c5",
                        "activityType": "TAKER_REBATE",
                        "blockTimestamp": 1787011821,
                        "usdcSize": "1082.4748",
                        "blockNumber": 92204529,
                        "createdAt": "2026-08-18T00:10:51.963Z"
                      }
                    ],
                    "nextCursor": "1787011821_1267"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid `address`, unsupported `types` value, negative `limit`, or `fromTimestamp` > `toTimestamp`.",
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid address format",
                  "status_code": "0",
                  "data": null
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/tx/{txHash}": {
      "get": {
        "operationId": "getTransactionActions",
        "summary": "Get actions by transaction hash",
        "description": "Returns a decoded, human-readable summary of a single transaction plus every individual on-chain action (fills) it contains. Useful for inspecting exactly what happened inside one trade.",
        "parameters": [
          {
            "name": "txHash",
            "in": "path",
            "required": true,
            "description": "The transaction hash to decode.",
            "schema": {
              "type": "string",
              "example": "0x66dc87fb47faf587002b89d183dbb9505fc7ef80da5e6ec49e271278e8d95fad"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the decoded transaction. A well-formed hash that is not indexed returns `data: null`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "description": "The decoded transaction, or `null` when the hash is well-formed but no indexed action matches it.",
                      "anyOf": [
                        { "$ref": "#/components/schemas/TransactionDetail" },
                        { "type": "null" }
                      ]
                    }
                  }
                },
                "examples": {
                  "trade": {
                    "summary": "Regular trade",
                    "value": {
                      "message": "OK",
                      "status_code": "1",
                      "data": {
                        "txHash": "0x66dc87fb47faf587002b89d183dbb9505fc7ef80da5e6ec49e271278e8d95fad",
                        "blockNumber": 88229726,
                        "blockTimestamp": 1781049574,
                        "traderAddress": "0xaac2469db4c243a2931acc252967b171bd97e8ce",
                        "sourceType": "TRADE",
                        "actionType": "Buy",
                        "sentence": "Buy 3604.58 No for $3546.12269 in Will Bitcoin dip to $59,000 on June 9?",
                        "marketSlug": "will-bitcoin-dip-to-59k-on-june-9",
                        "marketId": "2475928",
                        "actions": [
                          {
                            "actionType": "Buy",
                            "tokenId": "38163660360188728397792916713023875464787138529265352624189549073473314732690",
                            "size": "3604.58",
                            "price": "0.983782",
                            "usdcSize": "3546.12269",
                            "traderAddress": "0xaac2469db4c243a2931acc252967b171bd97e8ce",
                            "txHash": "0x66dc87fb47faf587002b89d183dbb9505fc7ef80da5e6ec49e271278e8d95fad",
                            "blockTimestamp": 1781049574,
                            "fee": "4.02564",
                            "marketId": "2475928",
                            "marketSlug": "will-bitcoin-dip-to-59k-on-june-9",
                            "eventSlug": "what-price-will-bitcoin-hit-on-june-9",
                            "marketTitle": "Will Bitcoin dip to $59,000 on June 9?",
                            "positionSide": "No",
                            "outcomeIndex": 1,
                            "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC-fullsize.png",
                            "liquidityRole": "TAKER"
                          }
                        ],
                        "comboActions": null
                      }
                    }
                  },
                  "combo": {
                    "summary": "Combo trade",
                    "value": {
                      "message": "OK",
                      "status_code": "1",
                      "data": {
                        "txHash": "0x4a0e9050d8747ce2ea3ffc4ec40e7dd2419807cea5ef1ec6eab7d5e0761505fe",
                        "blockNumber": 94181256,
                        "blockTimestamp": 1789976967,
                        "traderAddress": "0x0284e1c5b93a6fe07aa5e83e8543d6e33f8a97f6",
                        "sourceType": "COMBO",
                        "actionType": "Buy",
                        "sentence": "Buy Combo position for $4.83699",
                        "marketSlug": null,
                        "marketId": null,
                        "actions": null,
                        "comboActions": [
                          {
                            "actionType": "Buy",
                            "comboPositionId": "1709891758942759112419793424834979456496472902357002820659325405013387247616",
                            "size": "14.839314",
                            "price": "0.325958",
                            "usdcSize": "4.83699",
                            "traderAddress": "0x0284e1c5b93a6fe07aa5e83e8543d6e33f8a97f6",
                            "txHash": "0x4a0e9050d8747ce2ea3ffc4ec40e7dd2419807cea5ef1ec6eab7d5e0761505fe",
                            "blockTimestamp": 1789976967,
                            "fee": "0.16301",
                            "legs": [
                              {
                                "marketId": "4777327",
                                "marketTitle": "Counter-Strike: Leo Team vs G2 Ares (BO3)",
                                "marketSlug": "cs2-leo2-g2a-2026-09-21",
                                "eventSlug": "cs2-leo2-g2a-2026-09-21",
                                "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/counter-strike-image-16c415c538.png",
                                "outcomeIndex": 1,
                                "outcome": "G2 Ares",
                                "outcomePrice": "0.695"
                              },
                              {
                                "marketId": "4760565",
                                "marketTitle": "Counter-Strike: Leo Team vs UNiTY esports (BO3)",
                                "marketSlug": "cs2-leo2-unity-2026-09-21",
                                "eventSlug": "cs2-leo2-unity-2026-09-21",
                                "logo": "https://polymarket-upload.s3.us-east-2.amazonaws.com/counter-strike-image-16c415c538.png",
                                "outcomeIndex": 1,
                                "outcome": "UNiTY esports",
                                "outcomePrice": "0.84"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The `txHash` is not a valid 32-byte hex hash.",
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid txHash format",
                  "status_code": "0",
                  "data": null
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/orderbook/markets": {
      "get": {
        "operationId": "getOrderBookMarkets",
        "summary": "List order book markets",
        "description": "Returns Polymarket markets tagged as Crypto (Gamma `tag_id=21`) and their outcome tokens. Results are ordered by `marketId` in ascending order. Pass a returned `tokenId` to the order book events endpoint to reconstruct that token's book.",
        "parameters": [
          {
            "name": "marketId",
            "in": "query",
            "required": false,
            "description": "Exact Gamma market ID.",
            "schema": { "type": "string", "example": "12345" }
          },
          {
            "name": "conditionId",
            "in": "query",
            "required": false,
            "description": "Exact condition ID. It must start with `0x` followed by 64 hexadecimal characters. Input is case-insensitive and normalized to lowercase.",
            "schema": { "type": "string", "example": "0x0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef" }
          },
          {
            "name": "tokenId",
            "in": "query",
            "required": false,
            "description": "Return the market that contains this outcome token.",
            "schema": { "type": "string", "example": "123456789" }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Orbscan availability status. `active` means Orbscan tracks the market as active. `closed` means it does not. This differs from the Gamma `closed` field. Input is case-insensitive.",
            "schema": { "type": "string", "enum": ["active", "closed"], "example": "active" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 100. Values outside 1 to 1,000 return `400`.",
            "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous response's `nextCursor`. Reuse it with the same filters.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": { "type": "array", "items": { "$ref": "#/components/schemas/OrderBookMarket" } },
                        "nextCursor": { "type": "string", "nullable": true }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "marketId": "248851",
                        "conditionId": "0x3784ea734e3886a167bf3d8de6b79290e2dcf57e71812f9db5cfe165936d3215",
                        "question": "Will the FDV of OpenSea's token be above $5b 1 week after launch?",
                        "slug": "will-the-fdv-of-openseas-token-be-above-5b-1-week-after-launch",
                        "status": "closed",
                        "openAt": 1677095132413,
                        "closeAt": 1703894400000,
                        "outcomes": [
                          { "name": "Yes", "tokenId": "100299615833860717861695156210002025817496421474264537699755386813000932190489" },
                          { "name": "No", "tokenId": "9444964418353784846201878646812530954474648898197532093004406084519216761243" }
                        ]
                      }
                    ],
                    "nextCursor": "AAAAAAADzBQ"
                  }
                }
              }
            }
          },
          "400": {
            "description": "An ID, `status`, or `limit` value is invalid.",
            "content": {
              "application/json": {
                "example": { "message": "limit must be between 1 and 1000", "status_code": "0", "data": null }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/orderbook/events": {
      "get": {
        "operationId": "getOrderBookEvents",
        "summary": "Get order book events",
        "description": "Returns the stored L2 events needed to reconstruct an outcome token's order book. Provide at least one of `marketId`, `conditionId`, or `tokenId`. The API combines values in the same parameter with OR and different parameters with AND.",
        "parameters": [
          {
            "name": "marketId",
            "in": "query",
            "required": false,
            "description": "Market IDs to include. You can provide up to 20 as comma-separated values, repeated parameters, or both.",
            "style": "form",
            "explode": true,
            "schema": { "type": "array", "items": { "type": "string" }, "maxItems": 20, "example": ["12345"] }
          },
          {
            "name": "conditionId",
            "in": "query",
            "required": false,
            "description": "Condition IDs to include. You can provide up to 20 as comma-separated values, repeated parameters, or both. Input is case-insensitive.",
            "style": "form",
            "explode": true,
            "schema": { "type": "array", "items": { "type": "string" }, "maxItems": 20, "example": ["0x0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"] }
          },
          {
            "name": "tokenId",
            "in": "query",
            "required": false,
            "description": "Outcome token IDs to include. You can provide up to 50 as comma-separated values, repeated parameters, or both.",
            "style": "form",
            "explode": true,
            "schema": { "type": "array", "items": { "type": "string" }, "maxItems": 50, "example": ["123456789"] }
          },
          {
            "name": "eventType",
            "in": "query",
            "required": false,
            "description": "Event types to include: `book`, `price_change`, or both. The endpoint returns both when you omit this parameter.",
            "style": "form",
            "explode": true,
            "schema": { "type": "array", "items": { "type": "string", "enum": ["book", "price_change"] }, "maxItems": 2 }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound on source time, Unix milliseconds.",
            "schema": { "type": "integer", "format": "int64", "example": 1788852000000 }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Inclusive upper bound on source time, Unix milliseconds. Must be greater than or equal to `from`.",
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort by source time. Defaults to `asc`. Case-insensitive.",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "asc" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 1,000. Values outside 1 to 10,000 return `400`.",
            "schema": { "type": "integer", "default": 1000, "minimum": 1, "maximum": 10000 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the last item's `cursor` or the response's `nextCursor`. Keep the filters and `order` unchanged while paging one result set. To reconstruct a book, you can use a snapshot cursor to start a new ascending `price_change` query.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": { "type": "array", "items": { "$ref": "#/components/schemas/OrderBookEvent" } },
                        "nextCursor": { "type": "string", "nullable": true }
                      }
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "items": [
                      {
                        "cursor": "AAABoMfIdTSZ95XfHI2JY3xDPBEiM-NgpOm-DblE2HiRi5Ny98xn0g",
                        "marketId": "573656",
                        "conditionId": "0x02deb9538f5c123373adaa4ee6217b01745f1662bc902e46ac92f3fe6f8741e8",
                        "tokenId": "93694900555669388759405753550770573998169287228984912881955464376232163096213",
                        "outcome": "Yes",
                        "eventType": "book",
                        "timestamp": 1790058198324,
                        "indexedTimestamp": 1790058204527,
                        "side": null,
                        "price": null,
                        "sizeAfter": null,
                        "bids": [["0.48", "12500"], ["0.47", "20000"]],
                        "asks": [["0.49", "8000"], ["0.5", "15000"]],
                        "sourceHash": "db60d216be1f61bfe63c4c9a92a2d42fd30e319c"
                      },
                      {
                        "cursor": "AAABoIUSUAm3qt444MRDsUeszsPPlC2V4ijGB4PrCvlQPcNHl9XYGg",
                        "marketId": "573656",
                        "conditionId": "0x02deb9538f5c123373adaa4ee6217b01745f1662bc902e46ac92f3fe6f8741e8",
                        "tokenId": "93694900555669388759405753550770573998169287228984912881955464376232163096213",
                        "outcome": "Yes",
                        "eventType": "price_change",
                        "timestamp": 1788938965001,
                        "indexedTimestamp": 1788938967881,
                        "side": "SELL",
                        "price": "0.79",
                        "sizeAfter": "6",
                        "bids": null,
                        "asks": null,
                        "sourceHash": "7bbd3aff3cc9a5b22c69a6a4f3c2ce8c2fb4b6ab"
                      }
                    ],
                    "nextCursor": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "A filter, `eventType`, `order`, `limit`, timestamp, or time range is invalid; or no `marketId`, `conditionId`, or `tokenId` was supplied.",
            "content": {
              "application/json": {
                "example": { "message": "tokenId, marketId, or conditionId is required", "status_code": "0", "data": null }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/orderbook/coverage": {
      "get": {
        "operationId": "getOrderBookCoverage",
        "summary": "Get order book coverage",
        "description": "Returns the earliest and latest source timestamps across the full stored order book table. These timestamps do not guarantee that every time or market is available through the events endpoint. The result is cached for 10 minutes.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "OK" },
                    "status_code": { "type": "string", "example": "1" },
                    "data": { "$ref": "#/components/schemas/OrderBookCoverage" }
                  }
                },
                "example": {
                  "message": "OK",
                  "status_code": "1",
                  "data": {
                    "polymarket": {
                      "orderbook": {
                        "availableFrom": 1788199076322,
                        "availableTo": 1790062682461
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/ServerError" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Paste your Orbscan API key here. The `Bearer` prefix is added automatically."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "The API key is missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string", "example": "Missing or invalid API key" },
                "status_code": { "type": "string", "example": "0" },
                "data": { "type": "null" }
              }
            },
            "example": {
              "message": "Missing or invalid API key",
              "status_code": "0",
              "data": null
            }
          }
        }
      },
      "Forbidden": {
        "description": "The API key is valid but not allowed to use this resource."
      },
      "TooManyRequests": {
        "description": "The rate limit for your credential was exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string", "example": "Rate limit exceeded" },
                "status_code": { "type": "string", "example": "0" },
                "data": { "type": "null" }
              }
            },
            "example": {
              "message": "Rate limit exceeded",
              "status_code": "0",
              "data": null
            }
          }
        }
      },
      "ServerError": {
        "description": "Unexpected server failure."
      },
      "ServiceUnavailable": {
        "description": "Coverage is temporarily unavailable and no cached value can be returned."
      }
    },
    "schemas": {
      "OrderBookOutcome": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Outcome label.", "example": "Yes" },
          "tokenId": { "type": "string", "description": "Outcome token ID, a positive uint256 as a decimal string (up to 78 digits).", "example": "123456789" }
        }
      },
      "OrderBookMarket": {
        "type": "object",
        "properties": {
          "marketId": { "type": "string", "description": "Gamma market ID as a decimal string (up to 19 digits, signed 64-bit range).", "example": "12345" },
          "conditionId": { "type": "string", "description": "Condition ID, `0x` + 64 hex (lowercase)." },
          "question": { "type": "string", "description": "Market question." },
          "slug": { "type": "string", "description": "Market slug." },
          "status": { "type": "string", "description": "Orbscan availability status. `active` means Orbscan tracks the market as active. Otherwise, the value is `closed`. This differs from the Gamma `closed` field.", "enum": ["active", "closed"] },
          "openAt": { "type": "integer", "format": "int64", "description": "Market open time, Unix milliseconds." },
          "closeAt": { "type": "integer", "format": "int64", "description": "Market close time, Unix milliseconds." },
          "outcomes": { "type": "array", "description": "Outcome tokens for the market.", "items": { "$ref": "#/components/schemas/OrderBookOutcome" } }
        }
      },
      "OrderBookEvent": {
        "type": "object",
        "properties": {
          "cursor": { "type": "string", "description": "Stable opaque boundary for this logical event; pass it back as the `cursor` query parameter." },
          "marketId": { "type": "string", "description": "Gamma market ID." },
          "conditionId": { "type": "string", "description": "Condition ID." },
          "tokenId": { "type": "string", "description": "Outcome token whose independent book changed." },
          "outcome": { "type": "string", "nullable": true, "description": "Outcome label resolved from metadata." },
          "eventType": { "type": "string", "enum": ["book", "price_change"], "description": "Event type." },
          "timestamp": { "type": "integer", "format": "int64", "description": "Polymarket source time, Unix milliseconds." },
          "indexedTimestamp": { "type": "integer", "format": "int64", "description": "Earliest ingestion time for the logical event, in Unix milliseconds. Subtract `timestamp` from this value to estimate total indexing latency." },
          "side": { "type": "string", "nullable": true, "description": "Source side, normally `BUY` or `SELL`. Set only for `price_change`." },
          "price": { "type": "string", "nullable": true, "description": "Price on a 0 to 1 scale. Set only for `price_change`." },
          "sizeAfter": { "type": "string", "nullable": true, "description": "Remaining size after the update; `0` removes the level, any other value replaces the level size. Set only for `price_change`." },
          "bids": { "type": "array", "nullable": true, "description": "Bid levels as `[price, size]` decimal-string pairs. Set only for `book`.", "items": { "type": "array", "minItems": 2, "maxItems": 2, "items": { "type": "string" } } },
          "asks": { "type": "array", "nullable": true, "description": "Ask levels as `[price, size]` decimal-string pairs. Set only for `book`.", "items": { "type": "array", "minItems": 2, "maxItems": 2, "items": { "type": "string" } } },
          "sourceHash": { "type": "string", "nullable": true, "description": "Hash supplied by Polymarket for integrity checks." }
        }
      },
      "OrderBookCoverage": {
        "type": "object",
        "properties": {
          "polymarket": {
            "type": "object",
            "properties": {
              "orderbook": {
                "type": "object",
                "properties": {
                  "availableFrom": { "type": "integer", "format": "int64", "description": "Earliest source timestamp across the order book table, Unix milliseconds." },
                  "availableTo": { "type": "integer", "format": "int64", "description": "Latest source timestamp across the order book table, Unix milliseconds." }
                }
              }
            }
          }
        }
      },
      "ActivityItem": {
        "type": "object",
        "properties": {
          "blockTimestamp": { "type": "integer", "format": "int64", "description": "Unix timestamp (seconds) of the action." },
          "actionType": { "type": "string", "description": "Action label.", "example": "Buy", "enum": ["Buy", "Sell", "Redeem"] },
          "price": { "type": "string", "description": "Price per share as a decimal (0–1). Multiply by 100 to get cents.", "example": "0.78" },
          "size": { "type": "string", "description": "Number of shares.", "example": "5" },
          "fee": { "type": "string", "description": "Fee charged, in USDC.", "example": "0.02574" },
          "usdcSize": { "type": "string", "description": "Gross USDC value of the action.", "example": "3.9" },
          "netSharesTransferred": { "type": "string", "description": "Net shares transferred (positive = received, negative = sent).", "example": "5" },
          "txHash": { "type": "string", "description": "On-chain transaction hash." },
          "tokenId": { "type": "string", "description": "Polymarket outcome token ID." },
          "marketId": { "type": "string" },
          "marketSlug": { "type": "string" },
          "eventSlug": { "type": "string" },
          "conditionId": { "type": "string" },
          "marketTitle": { "type": "string" },
          "positionSide": { "type": "string", "description": "Which outcome the trade is on.", "example": "Yes" },
          "outcomeIndex": { "type": "integer", "example": 0 },
          "logo": { "type": "string", "description": "Market logo URL." },
          "traderAddress": { "type": "string", "description": "The queried wallet address." },
          "liquidityRole": { "type": "string", "nullable": true, "description": "MAKER or TAKER, or null for non-trade actions such as redeems.", "example": "TAKER", "enum": ["MAKER", "TAKER"] }
        }
      },
      "TransferItem": {
        "type": "object",
        "properties": {
          "txHash": { "type": "string", "description": "Transaction hash (records are aggregated per transaction)." },
          "type": { "type": "string", "description": "`deposit` (net inflow) or `withdrawal` (net outflow).", "example": "deposit", "enum": ["deposit", "withdrawal"] },
          "amount": { "type": "string", "description": "Amount, absolute value of the net flow (USDC).", "example": "181038.379452" },
          "blockTimestamp": { "type": "integer", "format": "int64", "description": "Block timestamp (Unix seconds)." },
          "address": { "type": "string", "description": "Counterparty address (sender for deposits, receiver for withdrawals). For bridged deposits this may be the zero address." }
        }
      },
      "RewardItem": {
        "type": "object",
        "properties": {
          "txHash": { "type": "string", "description": "Transaction hash." },
          "logIndex": { "type": "integer", "description": "Log index." },
          "proxyWallet": { "type": "string", "description": "The trader's proxy wallet (the reward recipient)." },
          "fromAddress": { "type": "string", "description": "Address the reward was sent from." },
          "activityType": { "type": "string", "description": "Reward type.", "enum": ["YIELD", "MAKER_REBATE", "TAKER_REBATE", "REFERRAL_REWARD", "REWARD"] },
          "blockTimestamp": { "type": "integer", "format": "int64", "description": "Block timestamp (Unix seconds)." },
          "usdcSize": { "type": "string", "description": "Reward amount, in USDC." },
          "blockNumber": { "type": "integer", "format": "int64", "description": "Block number." },
          "createdAt": { "type": "string", "format": "date-time", "description": "Record creation timestamp (ISO 8601)." }
        }
      },
      "TransactionAction": {
        "type": "object",
        "properties": {
          "actionType": { "type": "string", "example": "Buy" },
          "tokenId": { "type": "string", "description": "Polymarket outcome token ID involved in this fill." },
          "size": { "type": "string", "description": "Number of shares in this fill." },
          "price": { "type": "string", "description": "Price per share as a decimal (0–1).", "example": "0.983782" },
          "usdcSize": { "type": "string", "description": "USDC value of this fill." },
          "traderAddress": { "type": "string", "description": "Address that performed this fill." },
          "txHash": { "type": "string" },
          "blockTimestamp": { "type": "integer", "format": "int64" },
          "fee": { "type": "string" },
          "marketId": { "type": "string" },
          "marketSlug": { "type": "string" },
          "eventSlug": { "type": "string" },
          "marketTitle": { "type": "string" },
          "positionSide": { "type": "string", "example": "No" },
          "outcomeIndex": { "type": "integer", "example": 1 },
          "logo": { "type": "string", "description": "Market logo URL." },
          "liquidityRole": { "type": "string", "nullable": true, "example": "TAKER", "enum": ["MAKER", "TAKER"] }
        }
      },
      "ComboActionLeg": {
        "type": "object",
        "properties": {
          "marketId": { "type": "string", "description": "Market ID of the leg." },
          "marketTitle": { "type": "string", "description": "Market title of the leg." },
          "marketSlug": { "type": "string", "description": "Market slug of the leg." },
          "eventSlug": { "type": "string", "description": "Event slug of the leg." },
          "logo": { "type": "string", "description": "Market logo URL." },
          "outcomeIndex": { "type": "integer", "description": "Outcome index the leg is on.", "example": 1 },
          "outcome": { "type": "string", "description": "Outcome label for the leg. Depending on the market, this may be `Yes`, `No`, `Up`, `Down`, or a named outcome.", "example": "G2 Ares" },
          "outcomePrice": { "type": "string", "description": "Leg outcome price at the time of the trade, on a 0 to 1 scale.", "example": "0.695" }
        }
      },
      "ComboAction": {
        "type": "object",
        "properties": {
          "actionType": { "type": "string", "description": "Action label for this combo fill.", "example": "Buy", "enum": ["Buy", "Sell"] },
          "comboPositionId": { "type": "string", "description": "Combo position ID this fill belongs to." },
          "size": { "type": "string", "description": "Number of combo shares in this fill.", "example": "6.07015" },
          "price": { "type": "string", "description": "Price per combo share as a decimal from 0 to 1. Multiply by 100 to get cents.", "example": "0.659345" },
          "usdcSize": { "type": "string", "description": "USDC value of this fill.", "example": "4.002324" },
          "traderAddress": { "type": "string", "description": "Address that performed this fill." },
          "txHash": { "type": "string", "description": "On-chain transaction hash." },
          "blockTimestamp": { "type": "integer", "format": "int64", "description": "Block timestamp (Unix seconds)." },
          "fee": { "type": "string", "description": "Fee charged for this fill, in USDC.", "example": "0.16301" },
          "legs": {
            "type": "array",
            "description": "The underlying market outcomes that make up this combo position.",
            "items": { "$ref": "#/components/schemas/ComboActionLeg" }
          }
        }
      },
      "TransactionDetail": {
        "type": "object",
        "properties": {
          "txHash": { "type": "string" },
          "blockNumber": { "type": "integer", "format": "int64" },
          "blockTimestamp": { "type": "integer", "format": "int64" },
          "traderAddress": { "type": "string", "description": "The primary wallet this transaction is attributed to." },
          "sourceType": { "type": "string", "description": "How the transaction was categorized. `TRADE` is a regular order fill. `COMBO` is a combo (parlay) trade.", "example": "TRADE" },
          "actionType": { "type": "string", "description": "Top-level action for the transaction (the trade direction, e.g. `Buy` or `Sell`).", "example": "Buy" },
          "sentence": { "type": "string", "description": "Plain-English summary of the transaction.", "example": "Buy 3604.58 No for $3546.12269 in Will Bitcoin dip to $59,000 on June 9?" },
          "marketSlug": { "type": "string", "nullable": true, "description": "Market slug. `null` for combo transactions, where the trade spans several markets." },
          "marketId": { "type": "string", "nullable": true, "description": "Market ID. `null` for combo transactions, where the trade spans several markets." },
          "actions": {
            "type": "array",
            "nullable": true,
            "description": "Every individual on-chain fill contained in this transaction. `null` for combo transactions, which report their fills in `comboActions` instead.",
            "items": { "$ref": "#/components/schemas/TransactionAction" }
          },
          "comboActions": {
            "type": "array",
            "nullable": true,
            "description": "Combo (parlay) fills contained in this transaction, one per trader. `null` for regular trades, whose fills appear in `actions` instead.",
            "items": { "$ref": "#/components/schemas/ComboAction" }
          }
        }
      },
      "OpenPosition": {
        "type": "object",
        "properties": {
          "marketId": { "type": "string", "description": "Market ID." },
          "marketSlug": { "type": "string", "description": "Market slug." },
          "eventSlug": { "type": "string", "description": "Event slug." },
          "conditionId": { "type": "string", "description": "Condition ID." },
          "marketTitle": { "type": "string", "description": "Market title." },
          "logo": { "type": "string", "description": "Market logo URL." },
          "closed": { "type": "boolean", "description": "Whether the position is closed." },
          "tokenId": { "type": "string", "description": "Token ID." },
          "positionSide": { "type": "string", "description": "Position side. Varies by market — e.g. `Yes` / `No` for binary markets, `Up` / `Down` for price direction markets.", "example": "Yes" },
          "outcomeIndex": { "type": "integer", "description": "Outcome index.", "example": 0 },
          "balance": { "type": "string", "description": "Remaining position balance (shares)." },
          "avgPrice": { "type": "string", "description": "Average entry price, 0–1 scale." },
          "currentPrice": { "type": "string", "description": "Current price, 0–1 scale." },
          "avgExit": { "type": "string", "description": "Average exit price, 0–1 scale." },
          "totalInvested": { "type": "string", "description": "Total invested, in USD." },
          "totalBought": { "type": "string", "description": "Cumulative shares bought." },
          "value": { "type": "string", "description": "Current position value, in USD." },
          "unrealizedPnl": { "type": "string", "description": "Unrealized PnL, in USD." },
          "realizedPnl": { "type": "string", "description": "Realized PnL, in USD." },
          "totalPnl": { "type": "string", "description": "Realized + unrealized PnL, in USD." },
          "percentPnl": { "type": "string", "nullable": true, "description": "PnL as a percentage of cost basis." },
          "recentTradeTime": { "type": "integer", "format": "int64", "description": "Most recent trade timestamp (Unix seconds) for this position — set for both open and closed positions." }
        }
      },
      "ComboLeg": {
        "type": "object",
        "properties": {
          "comboPositionId": { "type": "string", "description": "Combo position ID." },
          "legIndex": { "type": "integer", "description": "Leg index." },
          "legPositionId": { "type": "string", "description": "Leg position ID." },
          "marketId": { "type": "string", "description": "Market ID." },
          "marketTitle": { "type": "string", "description": "Market title." },
          "logo": { "type": "string", "description": "Market logo URL." },
          "marketSlug": { "type": "string", "description": "Market slug." },
          "eventSlug": { "type": "string", "description": "Event slug." },
          "outcomeIndex": { "type": "integer", "description": "Outcome index." },
          "outcome": { "type": "string", "description": "Outcome label. Varies by market — e.g. `Yes` / `No`, or an outcome name for named markets.", "example": "Yes" },
          "outcomePrice": { "type": "string", "description": "Leg outcome price, 0–1 scale." },
          "resolved": { "type": "boolean", "description": "Whether the leg market is resolved." }
        }
      },
      "ComboPosition": {
        "type": "object",
        "properties": {
          "comboPositionId": { "type": "string", "description": "Combo position ID." },
          "comboConditionId": { "type": "string", "description": "Combo condition ID." },
          "amount": { "type": "string", "description": "Amount, in USDC." },
          "avgPrice": { "type": "string", "description": "Average entry price, 0–1 scale." },
          "realizedPnl": { "type": "string", "description": "Realized PnL, in USD." },
          "totalBought": { "type": "string", "description": "Cumulative shares bought." },
          "balance": { "type": "string", "description": "Remaining position balance (shares)." },
          "balanceTimestamp": { "type": "integer", "format": "int64", "description": "Balance snapshot timestamp (Unix seconds)." },
          "totalFee": { "type": "string", "nullable": true, "description": "Total fees paid, in USDC." },
          "recentTradeTime": { "type": "integer", "format": "int64", "description": "Most recent trade timestamp (Unix seconds)." },
          "firstTradeTime": { "type": "integer", "format": "int64", "description": "First trade timestamp (Unix seconds)." },
          "currentPrice": { "type": "string", "description": "Current combo price, 0–1 scale." },
          "unrealizedPnl": { "type": "string", "description": "Unrealized PnL, in USD." },
          "totalPnl": { "type": "string", "description": "Realized + unrealized PnL, in USD." },
          "percentPnl": { "type": "string", "nullable": true, "description": "PnL as a percentage of cost basis." },
          "legs": {
            "type": "array",
            "description": "Legs of the combo position.",
            "items": { "$ref": "#/components/schemas/ComboLeg" }
          }
        }
      },
      "Portfolio": {
        "type": "object",
        "properties": {
          "positionValue": { "type": "string", "description": "Total mark-to-market value of all open positions in USDC." },
          "usdBalance": { "type": "string", "description": "Uninvested USDC balance in the wallet." },
          "portfolioValue": { "type": "string", "description": "Combined portfolio value: positionValue + usdBalance." }
        }
      }
    }
  }
}
